@use "../sass-utils" as *;

// Dark theme
$backgroundDark: $dark-6;
$backgroundDark2: $dark-7;
$textDark: white;
$primaryDark: $blue-6;
$secondaryDark: $pink-7;
$buttonDark: $blue-9;
$primaryToneDark: $dark-7;
$secondaryToneDark: $dark-5;