@import "../sass-utils/variables";


$beige: #F5F5DC;

$buff: #CB997E;
$desertSand: #DDBEA9;
$champagnePink: #FFE8D6;
$sage: #A5A58D;
$resedaGreen: #6B705C;

$orinoco: #ccd5ae;
$glaceGreen: #e9edc9;
$cornSilk: #fefae0;
$hintOfYellow: #faedcd;
$honeyDreams: #d4a373;


// Light theme
$backgroundLight: $cornSilk;
$textLight: $dark-9;
$primaryLight: $honeyDreams;
$secondaryLight: $glaceGreen;
$buttonLight: $sage;
$primaryToneLight: $gray-0;
$secondaryToneLight: $gray-3;