@use "../sass-utils" as *;


$beige: #F5F5DC;

$buff: #CB997E;
$desertSand: #DDBEA9;
$champagnePink: #FFE8D6;
$sage: #A5A58D;
$resedaGreen: #6B705C;

$orinoco: #ccd5ae;
$glaceGreen: #e9edc9;
$cornSilk: #fefae0;
$hintOfYellow: #faedcd;
$honeyDreams: #d4a373;

$eggshellBlue: #EAF2FF;

// Natural Palette
$naturalLB: #b9d9f0;
$naturalDB: #00a0f3;
$naturalLLB: #eefbff;
$naturalLG: #e6f4f1;


$bonBlue1: #80BAE0;
$bonBlue2: #B9D9F0;
$bonBlueCenterGradient: linear-gradient(to right, $bonBlue1, $bonBlue2);


// Light theme
$backgroundLight: $naturalLB;
$textLight: $dark-9;
$primaryLight: $naturalDB;
$secondaryLight: $naturalLLB;
$buttonLight: $naturalDB;
$primaryToneLight: white;
$secondaryToneLight: $gray-2;