@import "../sass-utils/colors.scss";

body {
    display: flex;
    padding: 0;
    margin: 0;
}

// .light {
//     .text {
//         color: $dark-9;
//     }

//     .background {
//         background-color: $beige;
//     }
// }

// .dark {
//     .text {
//         color: white;
//     }

//     .background {
//         background-color: $dark-7;
//     }
// }