@use "./base" as *;
@use "./components" as *;
@use "./layout" as *;
@use "./sass-utils" as *;
@use "./themes" as *;
@use "./pages" as *;

:root {
    font-size: 62.5%;
    /* (62.5/100) * 16px = 10px */
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    height: 100%;
    // width: 100vw;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    transition: transform 0.5s ease-in-out;
    scroll-behavior: smooth;

}

* {
    scroll-margin-top: 80px;
}

a {
    color: black;
}

a:hover {
    color: #4851ff;
}

body {
    min-width: 320px;
    min-height: 100vh;
    height: 100%;
    text-align: center;
    transition: background-color 0.3s ease
}





/* Global styles for light mode */
body.light {
    background-color: $backgroundLight;
    color: $textLight;

    // button {
    //     background-color: $buttonLight;
    //     color: $textLight;
    // }

    .primaryColor {
        background-color: $primaryLight;
    }

    .secondaryColor {
        background-color: $secondaryLight;
    }

    .primaryTone {
        background-color: $primaryToneLight;
    }

    .secondaryTone {
        background-color: $secondaryToneLight;
    }
}

/* Global styles for dark mode */
body.dark {
    background-color: $backgroundDark;
    color: $textDark;

    // button {
    //     background-color: $buttonDark;
    //     color: $textDark;
    // }

    .primaryColor {
        background-color: $primaryDark;
    }

    .secondaryColor {
        background-color: $secondaryDark;
    }

    .primaryTone {
        background-color: $primaryToneDark;
    }

    .secondaryTone {
        background-color: $secondaryToneDark;
    }
}