// Base
@import "./base/reset";
@import "./base/typography";

// Utils
@import "./sass-utils/variables";
@import "./sass-utils/utilities";

// Themes
@import "./themes/dark";
@import "./themes/light";

// Pages
@import "./pages/app";

// Layout
@import "./layout/header";
@import "./layout/navbar";
@import "./layout/section";
@import "./layout/hero";
@import "./layout/info";
@import "./layout/services";
@import "./layout/about";
@import "./layout/testimonials";
@import "./layout/instagram";
@import "./layout/footer";

// components
@import "./components/breakpointDebugger";
@import "./components/button";
@import "./components/toggleButton";


:root {
    font-size: 62.5%;
    /* (62.5/100) * 16px = 10px */
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    height: 100%;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



a:hover {
    color: #535bf2;
}

body {
    min-width: 320px;
    min-height: 100vh;
    height: 100%;
    justify-content: center;
    text-align: center;
    transition: background-color 0.3s ease
}





/* Global styles for light mode */
body.light {
    background-color: $backgroundLight;
    color: $textLight;

    // button {
    //     background-color: $buttonLight;
    //     color: $textLight;
    // }

    .primaryColor {
        background-color: $primaryLight;
    }

    .secondaryColor {
        background-color: $secondaryLight;
    }

    .primaryTone {
        background-color: $primaryToneLight;
    }

    .secondaryTone {
        background-color: $secondaryToneLight;
    }
}

/* Global styles for dark mode */
body.dark {
    background-color: $backgroundDark;
    color: $textDark;

    // button {
    //     background-color: $buttonDark;
    //     color: $textDark;
    // }

    .primaryColor {
        background-color: $primaryDark;
    }

    .secondaryColor {
        background-color: $secondaryDark;
    }

    .primaryTone {
        background-color: $primaryToneDark;
    }

    .secondaryTone {
        background-color: $secondaryToneDark;
    }
}