@mixin debugBorder {
    border: 2px solid red;
}

@mixin reset-m-p {
    display: flex;
    padding: 0;
    margin: 0;
}

@mixin push--auto {
    margin: {
        left: auto;
        right: auto;
    }
}

@mixin transparent {
    background-color: rgba(255, 255, 255, 0);
}




// 
// Flexbox Toolkit

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-center-vert {
    display: flex;
    align-items: center;
}

@mixin flex-center-horiz {
    display: flex;
    justify-content: center;
}

@mixin flex-center-column {
    @include flex-center;
    flex-direction: column;
}

@mixin space-between {
    display: flex;
    justify-content: space-between;
}

// 
// Font size

@mixin font-size($font-size, $line-height: normal, $letter-spacing: normal) {
    font-size: $font-size * 1px;
    // font-size: $font-size * 0.1rem;
    // example using rem values and 62.5% font-size so 1rem = 10px

    @if $line-height==normal {
        line-height: normal;
    }

    @else {
        line-height: $line-height / $font-size;
    }

    @if $letter-spacing==normal {
        letter-spacing: normal;
    }

    @else {
        letter-spacing: #{$letter-spacing / $font-size}em;
    }
}


// 
// Media Queries

$breakpoints: (
    "xs": 0px,
    // Extra small devices (phones, 0px and up)
    "sm": 576px,
    // Small devices (phones, 576px and up)
    "md": 768px,
    // Medium devices (tablets, 768px and up)
    "lg": 992px,
    // Large devices (desktops, 992px and up)
    "xl": 1200px,
    // Extra large devices (large desktops, 1200px and up)
    "xxl": 1400px // Extra extra large devices (larger desktops, 1400px and up)
);


@mixin mq($min-width, $max-width: 9999px) {
    @if map_has_key($breakpoints, $min-width) and map_has_key($breakpoints, $max-width) {
        $min-width: map-get($breakpoints, $min-width);
        $max-width: map-get($breakpoints, $max-width);

        @media only screen and (min-width: $min-width) and (max-width: $max-width) {
            @content;
        }
    }
}