@mixin debugBorder {
    border: 2px solid red;
}

@mixin reset-m-p {
    display: flex;
    padding: 0;
    margin: 0;
}

@mixin push--auto {
    margin: {
        left: auto;
        right: auto;
    }
}

@mixin transparent {
    background-color: rgba(255, 255, 255, 0);
}




// 
// Flexbox Toolkit

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin flex-center-vert {
    display: flex;
    align-items: center;
}

@mixin flex-center-horiz {
    display: flex;
    justify-content: center;
}

@mixin flex-center-column {
    @include flex-center;
    flex-direction: column;
}

@mixin space-between {
    display: flex;
    justify-content: space-between;
}

// 
// Font size

@mixin font-size($font-size, $line-height: normal, $letter-spacing: normal) {
    font-size: $font-size * 1px;
    // font-size: $font-size * 0.1rem;
    // example using rem values and 62.5% font-size so 1rem = 10px

    @if $line-height==normal {
        line-height: normal;
    }

    @else {
        line-height: $line-height / $font-size;
    }

    @if $letter-spacing==normal {
        letter-spacing: normal;
    }

    @else {
        letter-spacing: #{$letter-spacing / $font-size}em;
    }
}


// 
// Media Queries

$breakpoints: (
    // mobile, 0px and up
    "mobile": 0px,

    // tablets, 576px and up
    "tablet": 576px,

    // large tablets, 768px and up
    "large-tablet": 768px,

    // laptops, 992px and up
    "laptop": 992px,

    // large laptops, 1200px and up
    "large-laptop": 1200px,

    // desktops, 1400px and up
    "desktop": 1400px,

    // 4k screens, 2100px and up
    "large-desktop": 2100px,
);


@mixin mq($min-width, $max-width: null) {
    @if map_has_key($breakpoints, $min-width) {
        $min-width: map-get($breakpoints, $min-width);
    }

    @if $max-width !=null and map_has_key($breakpoints, $max-width) {
        $max-width: map-get($breakpoints, $max-width);

        @media only screen and (min-width: $min-width) and (max-width: calc($max-width - 0.01px)) {
            @content;
        }
    }

    @else {
        @media only screen and (min-width: $min-width) {
            @content;
        }
    }
}