@use "../sass-utils" as *;

$orange: #ff9b54;
$purple: #ae76a6;
$blue: #a3c3d9;
$lOrange: #f8bd7f;
$gray: #efefef;

.breakpoint-debugger {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh; // Adjusted height for visibility
    font-family: Arial, sans-serif;
    position: relative;
    transition: background-color 0.3s ease, color 0.3s ease;

    &::before {
        position: absolute;
        font-size: 2rem; // Larger text for visibility
    }

    @include mq("large-desktop") {
        font-size: 2rem;
        background-color: #40e640;
        color: #000000;

        &::after {
            content: '4k Screen';
        }
    }

    @include mq("desktop", "large-desktop") {
        font-size: 2rem;
        background-color: #e64040;
        color: #fff;

        &::after {
            content: 'Desktop';
        }
    }

    @include mq("large-laptop", "desktop") {
        font-size: 2rem;
        background-color: #e76add;
        color: #fff;

        &::after {
            content: 'Large Laptop';
        }
    }

    @include mq("laptop", "large-laptop") {
        font-size: 2rem;
        background-color: #6200ff;
        color: #fff;

        &::after {
            content: 'Laptop';
        }
    }

    @include mq("large-tablet", "laptop") {
        font-size: 2rem;
        background-color: #007bff;
        color: #fff;

        &::after {
            content: 'Large Tablet';
        }
    }

    @include mq("tablet", "large-tablet") {
        font-size: 2rem;
        background-color: #28a79c;
        color: #000;

        &::after {
            content: 'Tablet';
        }
    }

    @include mq("mobile", "tablet") {
        font-size: 2rem;
        background-color: #ffc107;
        color: #000;

        &::after {
            content: 'Mobile';
        }
    }
}