@import "../sass-utils/mixins";

// only use for the svgs in the header
.svgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    @include push--auto;
}