@use "../sass-utils" as *;
@use "../themes" as *;


@mixin toggleButton ($bgColor, $textColor, $borderColor: none) {
    position: absolute;
    left: 0;
    margin-left: 5px;
    width: 40px;
    height: 40px;
    border-radius: 100px;
    border: 1px solid $borderColor;
    background-color: $bgColor;
    color: $textColor;
}

.toggleBtn div {
    display: flex;
    width: 100%;
    height: 100%;
}


body.light {
    .toggleBtn {
        @include toggleButton(white, $textLight, black)
    }

    .toggleBtn--right {
        @include toggleButton(white, $textLight, black);
        left: auto;
        right: 0;
        margin-right: 5px;
    }
}

body.dark {
    .toggleBtn {
        @include toggleButton($dark-8, $textDark, $gray-7)
    }

    .toggleBtn--right {
        @include toggleButton($dark-8, $textDark, $gray-7);
        left: auto;
        right: 0;
        margin-right: 5px;
    }
}