@use "../sass-utils/" as v;
@use "../themes/" as t;

.header {
    @include v.flex-center;
    @include v.reset-m-p;

    font-size: small;
    height: 80px;
    margin: auto;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    text-wrap: nowrap;
    border-bottom: 2px solid t.$primaryLight;
}


// .header img {

// }


// .light {
//     background-color: $backgroundLight;
//     color: $textLight;
// }

// .dark {
//     background-color: $backgroundDark;
//     color: $textDark;
// }