@import "../sass-utils/variables.scss";
@import "../sass-utils/mixins.scss";

.header {
    @include flex-center;
    @include reset-m-p;

    font-size: small;
    height: 80px;
    margin: auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    text-wrap: nowrap;
    border-bottom: 2px solid $primaryLight;
}


// .header img {

// }


// .light {
//     background-color: $backgroundLight;
//     color: $textLight;
// }

// .dark {
//     background-color: $backgroundDark;
//     color: $textDark;
// }