@use "../themes/" as t;

.section {
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 3rem;
}

body.light .section {
    background-color: t.$backgroundLight;
}

body.light .section:nth-of-type(even) {
    background-color: t.$secondaryLight;
}

body.dark .section {
    background-color: t.$backgroundDark;
}